:root {
	--container-width: 1200px;
}

/*	BASE
	============ */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font: normal normal 400 16px/1.5 'Roboto', sans-serif;
}

.wrapper {
	padding-top: 70px;
}

/*	NAVBAR
	============ */

.navbar {
	position: fixed;
	background: #fff;
	padding: 1.5rem 0;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 991px) {
	.navbar {
		padding: 1.25rem 0;
	}
}

.navbar-container {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 1.5rem;
}

.navbar-brand {
	margin-right: 1rem;
	z-index: 10;
}

.navbar-brand img {
	display: block;
	height: 28px;
	width: auto;
}

@media (max-width: 1199px) {
	.navbar-brand img {
		height: 25px;
	}
}

.navbar-toggler {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	color: #1E88E5;
	font-size: 1.35rem;
	margin-left: auto;
	margin-bottom: -5px;
}

@media (min-width: 992px) {
	.navbar-toggler {
		display: none;
	}
}

.navbar-content {
	display: flex;
	align-items: center;
	margin-left: auto;
}

@media (max-width: 991px) {
	#navbar-toggle:not(:checked) + .navbar-content {
		visibility: hidden;
		pointer-events: none;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	.navbar-content {
		position: fixed;
		top: 75px;
		bottom: 0;
		left: 0;
		right: 0;
		align-items: flex-start;
		background: #fff;
		padding: 1.5rem;
		border-top: solid 1px rgba(0, 0, 0, 0.1);
		z-index: 20;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		transition: visibility 1s, clip-path 1s, pointer-events 1s;
		transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);;
	}
}

.navbar-items {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 991px) {
	.navbar-items {
		flex-direction: column;
		align-items: flex-start;
		gap: 1.25rem;
		height: 100%;
	}
}

@media (max-width: 991px) {
	.navbar-items li:last-child {
		margin-top: auto;
	}
}

.navbar-link {
	color: #757575;
	font-size: 1.1rem;
	font-weight: 400;
	transition: color 200ms ease;
	white-space: nowrap;
}

@media (max-width: 1199px) {
	.navbar-link {
		font-size: 0.95rem;
	}
}

@media (max-width: 991px) {
	.navbar-link {
		font-size: 1.15rem;
	}
}

.navbar-link:hover {
	color: #1E88E5;
}

.navbar-link.button {
	display: inline-block;
	padding: 0.5rem 1.5rem;
	margin-bottom: -5px;
	z-index: 10;
}

@media (max-width: 1199px) {
	.navbar-link.button {
		font-size: 0.95rem;
	}
}

@media (max-width: 991px) {
	.navbar-link.button {
		font-size: 1.1rem;
		padding: 0.6rem 1.75rem;
	}
}

.navbar-dropdown .navbar-link::after {
	content: '\f107';
	display: inline-block;
	margin-left: 0.5rem;
	color: #1E88E5;
	font: normal normal 900 0.9em / 1 'Font Awesome 6 Free';
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	transform-origin: 50% 40%;
	transition: transform 200ms ease;
}

@media (max-width: 991px) {
	.navbar-dropdown .navbar-link::after {
		transform: rotate(270deg);
	}
}

.navbar-dropdown:hover .navbar-link {
	color: #1E88E5;
}

.navbar-dropdown:hover .navbar-link::after {
	transform: rotate(180deg);
}

@media (max-width: 991px) {
	.navbar-dropdown:hover .navbar-link::after {
		transform: rotate(360deg);
	}
}

.navbar-dropdown-menu {
	background: #fff;
	padding: 2.5rem 0;
	position: absolute;
	left: 0;
	right: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 9;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: visibility 600ms, pointer-events 600ms, clip-path 600ms;
	transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

@media (max-width: 991px) {
	.navbar-dropdown-menu {
		background: rgba(0, 0, 0, 0.05);
		backdrop-filter: blur(12px);
		padding: 1rem 0;
		left: 1.5rem;
		right: 1.5rem;
		border-radius: 0.5rem;
	}
}

.navbar-dropdown:hover .navbar-dropdown-menu {
	visibility: visible;
	pointer-events: all;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.navbar-dropdown-container {
	width: 100%;
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 1.5rem;
}

.navbar-dropdown-title {
	margin: 1rem 0 2rem;
	padding-bottom: 1rem;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	color: #757575;
	font-size: 1.35rem;
	font-weight: 500;
}

@media (max-width: 991px) {
	.navbar-dropdown-title {
		margin: 0;
		font-size: 1.1rem;
	}
}

.navbar-dropdown-title a {
	transition: color 200ms ease;
}

.navbar-dropdown-title a:hover {
	color: #1E88E5;
}

.navbar-dropdown-title i {
	margin-left: 0.5rem;
	color: #1E88E5;
	font-size: 0.85em;
}

.navbar-dropdown-columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 991px) {
	.navbar-dropdown-columns {
		grid-template-columns: 1fr;
	}
}

.navbar-dropdown-items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 991px) {
	.navbar-dropdown-items {
		gap: 0;
	}
}

.navbar-dropdown-link {
	color: #757575;
	font-size: 1.2rem;
	font-weight: 500;
	transition: color 200ms ease;
}

@media (max-width: 991px) {
	.navbar-dropdown-link {
		display: block;
		margin-top: 1rem;
		font-size: 1.1rem;
	}
}

.navbar-dropdown-link:hover {
	color: #1E88E5;
}

/*	BANNER
	============ */

.banner {
	position: relative;
	overflow: hidden;
}

.banner-slide {
	position: relative;
	display: flex !important;
	align-items: center;
	background: var(--banner-background-color);
	padding: 0 5rem;
	height: 700px;
}

@media (max-width: 1199px) {
	.banner-slide {
		height: 600px;
	}
}

@media (max-width: 767px) {
	.banner-slide {
		padding: 0;
	}
}

/* @media (max-width: 991px) {
	.banner-slide {
		height: 500px;
	}
} */

.banner-slide-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 1.5rem;
	color: rgba(255, 255, 255, 0.25);
	font-size: 2rem;
	z-index: 1;
	transition: color 200ms ease;
}

@media (max-width: 767px) {
	.banner-slide-control {
		top: auto;
		bottom: 0.5rem;
	}
}

.banner-slide-control:hover {
	color: rgba(255, 255, 255, 0.75);
}

.banner-slide-control-left {
	left: 0;
}

.banner-slide-control-right {
	right: 0;
}

.banner-slide-nav {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
}

@media (max-width: 767px) {
	.banner-slide-nav {
		bottom: 3rem
	}
}

.banner-slide-nav button {
	background: rgba(255, 255, 255, 0.5);
	width: 10px;
	height: 10px;
	padding: 0;
	border-radius: 50%;
	font-size: 0;
	display: inline-block;
	border: none;
	outline: none;
	transition: background 200ms ease;
}

.banner-slide-nav .slick-active button {
	background: rgba(255, 255, 255, 0.8);
}

.banner-container {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 1.5rem;
}

@media (max-width: 767px) {
	.banner-container {
		flex-direction: column;
	}
}

.banner-image {
	position: absolute;
	left: calc(50vw - 4rem);
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 991px) {
	.banner-image {
		left: calc(60w - 4rem);
	}
}

.banner-image img {
	height: 700px;
	width: auto;
}

@media (max-width: 1199px) {
	.banner-image img {
		height: 600px;
	}
}

@media (max-width: 991px) {
	.banner-image img {
		height: 500px;
	}
}

@media (max-width: 767px) {
	.banner-image {
		display: none;
	}
}

.banner-content {
	width: 50%;
	z-index: 1;
}

@media (max-width: 991px) {
	.banner-content {
		width: 60%;
	}
}

@media (max-width: 767px) {
	.banner-content {
		width: 100%;
	}
}

.banner-title {
	margin-bottom: 1.5rem;
	color: #fff;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 4rem;
	font-weight: 600;
	line-height: 1.15;
}

@media (max-width: 1199px) {
	.banner-title {
		font-size: 2.75rem;
	}
}

@media (max-width: 991px) {
	.banner-title {
		font-size: 2.5rem;
	}
}

@media (max-width: 767px) {
	.banner-title {
		font-size: 2.25rem;
	}
}

.banner-description {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.35rem;
	font-weight: 300;
}

@media (max-width: 1199px) {
	.banner-description {
		font-size: 1.2rem;
	}
}

@media (max-width: 991px) {
	.banner-description {
		font-size: 1.1rem;
	}
}

@media (max-width: 767px) {
	.banner-description {
		font-size: 1rem;
	}
}

.banner-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 2rem;
}

/* @media (max-width: 767px) {
	.banner-buttons {
		justify-content: center;
	}
} */

.banner-button .button {
	padding: 0.75rem 1.5rem;
	font-size: 1.1rem;
}

/*	SECTION
	============ */

.section {
	padding: 4rem 0;
}

.section-container {
	width: 100%;
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 1.5rem;
}

.section-title {
	color: #212121;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 2.75rem;
	font-weight: 700;
	line-height: 1.25;
}

@media (max-width: 991px) {
	.section-title {
		font-size: 2.25rem;
	}
}

@media (max-width: 767px) {
	.section-title {
		font-size: 2rem;
	}
}

.section-description {
	color: #616161;
	font-size: 1.15rem;
	font-weight: 400;
	line-height: 1.6;
}

@media (max-width: 991px) {
	.section-description {
		font-size: 1.1rem;
	}
}

/*	SECTION [ACHIEVEMENTS]
	============ */

.section-achievements .section-title {
	margin-bottom: 2rem;
	font-size: 3.75rem;
	font-weight: 600;
	text-align: center;
}

@media (max-width: 1199px) {
	.section-achievements .section-title {
		font-size: 2.5rem;
	}
}

.section-achievements .section-title span {
	color: #1E88E5;
}

.achievements {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
}

@media (max-width: 991px) {
	.achievements {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 575px) {
	.achievements {
		grid-template-columns: 1fr;
	}
}

.achievements-block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 225px;
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	text-align: center;
	overflow: hidden;
	isolation: isolate;
	user-select: none;
	transition: background 200ms ease;
}

.achievements-block::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	background: #1E88E5;
	transition: height 600ms cubic-bezier(0.22, 1, 0.36, 1);
	z-index: -1;
}

.achievements-block:hover::before {
	height: 100%
}

.achievements-icon {
	margin-bottom: 1rem;
	color: #1E88E5;
	font-size: 3rem;
	line-height: 1;
	transition: color 200ms ease;
}

.achievements-block:hover .achievements-icon {
	color: #fff;
}

.achievements-title {
	margin-bottom: 0.5rem;
	color: #212121;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 1;
	transition: color 200ms ease;
}

.achievements-block:hover .achievements-title {
	color: #fff;
}

.achievements-meta {
	color: #9E9E9E;
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1;
	transition: color 200ms ease;
}

.achievements-block:hover .achievements-meta {
	color: #EEEEEE;
}

/*	SECTION [ABOUT]
	============ */

.section-about .section-container {
	display: flex;
	align-items: center;
}

@media (max-width: 767px) {
	.section-about .section-container {
		flex-direction: column;
	}
}

.section-about .section-image {
	width: 50%;
	flex-shrink: 0;
	z-index: 1;
}

@media (max-width: 991px) {
	.section-about .section-image {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.section-about .section-image {
		width: 100%;
		padding: 2rem;
	}
}

.section-about .section-image img {
	max-width: 100%;
	height: auto;
	border-radius: 1rem 0 0 1rem;
}

@media (max-width: 767px) {
	.section-about .section-image img {
		border-radius: 1rem 1rem 0 0;
	}
}

.section-about .section-content {
	background: #EEEEEE;
	padding: 8rem 4rem 8rem 8rem;
	margin-left: -4rem;
	border-radius: 0 1rem 1rem 0;
}

@media (max-width: 991px) {
	.section-about .section-content {
		padding: 6rem 3rem 6rem 6rem;
	}
}

@media (max-width: 767px) {
	.section-about .section-content {
		padding: 6rem 2rem 2rem;
		margin-top: -6rem;
		margin-left: 0;
		border-radius: 0 0 0.5rem 0.5rem;
	}
}

.section-about .section-title {
	margin-bottom: 1rem;
}

.section-about .section-description {
	margin-bottom: 1.5rem;
}

/*	SECTION [TABS]
	============ */

.tabs-nav {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 767px) {
	.tabs-nav {
		gap: 0.5rem;
	}
}

.tabs-nav-link {
	display: block;
	padding: 0.75rem 1.25rem;
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-bottom: solid 4px transparent;
	border-radius: 0.5rem 0.5rem 0 0;
	color: #616161;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	transition: border 200ms ease;
}

@media (max-width: 767px) {
	.tabs-nav-link {
		padding: 0.75rem 1rem;
		font-size: 1.1rem;
	}
}

.tabs-nav-link:hover {
	border-color: rgba(0, 0, 0, 0.25);
}

.tabs-nav-link-active {
	border-bottom: solid 4px #1E88E5 !important;
}

.tabs-body {
	position: relative;
}

.tabs-content {
	position: absolute;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.tabs-content-active {
	position: static;
	opacity: 1;
	visibility: visible;
	height: 100%;
	transition: visiblity 300ms ease, opacity 300ms ease;
}

.tabs-content-active {

}

@media (max-width: 767px) {
	.tabs-content {
		grid-template-columns: 1fr;
	}
}

.tabs-block {
	display: flex;
	flex-direction: column;
	min-height: 400px;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 3rem 2.5rem;
	border: solid 1px rgba(0, 0, 0, 0.1);
}

.tabs-block-footer {
	margin-top: 1.5rem;
}

.tabs-block-icon {
	margin-bottom: 1rem;
}

.tabs-block-icon i {
	color: #1E88E5;
	font-size: 3rem;
}

.tabs-block-icon img {
	height: 65px;
	width: auto;
}

.tabs-block-title {
	margin-bottom: 1rem;
	color: #212121;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
}

@media (max-width: 767px) {
	.tabs-block-title {
		font-size: 2rem;
	}
}

.tabs-block-body {
	flex-grow: 1;
}

.tabs-block-body p {
	color: #9E9E9E;
	font-size: 1.15rem;
	font-weight: 400;
}

.tabs-content-industries .tabs-block {
	border: none;
}

.tabs-content-industries .tabs-block-title {
	color: #fff;
}

.tabs-content-industries .tabs-block-body p {
	color: rgba(255, 255, 255, 0.75);
}

/*	SECTION [CLIENTS]
	============ */

.section-clients {
	position: relative;
	background: #F5F5F5;
	padding-bottom: 8rem;
}

.section-clients .section-title {
	margin-bottom: 2.5rem;
}

.section-clients .button {
	position: absolute;
	bottom: 2.5rem;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 991px) {
	.section-clients .button {
		bottom: 2.75rem;
	}
}

.clients {
	position: relative;
}

.clients .slick-slide {
	margin: 0 1rem;
}

.clients .slick-list {
	margin: 0 -1rem;
}

.clients-block {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 500px;
	padding: 1rem;
	transition: background 200ms ease;
}

.slick-current .clients-block {
	background: #1565C0;
}

.clients-block-image {
	display: flex;
	align-items: center;
	background: #fff;
	padding: 1rem;
	height: 312px;
	margin-bottom: 1rem;
}

.clients-block-image img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.clients-block-description {
	color: #fff;
	font-size: 1.25rem;
	font-weight: 400;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: visibilty 200ms ease, opacity 200ms ease;
}

.slick-current .clients-block-description {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}

.client-slide-control {
	position: absolute;
	bottom: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	color: #1E88E5;
	border: solid 1px #1E88E5;
	border-radius: 50%;
	font-size: 1.5rem;
	z-index: 1;
	transition: background 200ms ease, color 200ms ease;
}

@media (max-width: 991px) {
	.client-slide-control {
		bottom: -5.5rem;
	}
}

.client-slide-control:hover {
	background: #1E88E5;
	color: #fff;
}

.client-slide-control-left {
	left: calc(50% - (350px / 2) - 4rem);
	transform: translateX(-50%);
}

@media (max-width: 991px) {
	.client-slide-control-left {
		left: 0;
		transform: none;
	}
}

.client-slide-control-right {
	right: calc(50% - (350px / 2) - 4rem);
	transform: translateX(50%);
}

@media (max-width: 991px) {
	.client-slide-control-right {
		right: 0;
		transform: none;
	}
}

/*	SECTION [ACCOMPLISHMENTS]
	============ */

.section-accomplishments {
	padding: 8rem 0;
}

@media (max-width: 767px) {
	.section-accomplishments {
		padding: 4rem 0;
	}
}

.section-accomplishments .section-title {
	max-width: 800px;
	margin: 0 auto 2rem;
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
	line-height: 1.25;
}

@media (max-width: 767px) {
	.section-accomplishments .section-title {
		font-size: 2rem;
	}
}

.section-accomplishments .section-description {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.accomplishments {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 4rem;
}

.accomplishments-item {
	height: 70px;
}

@media (max-width: 767px) {
	.accomplishments-item {
		height: 60px;
	}
}

.accomplishments-item img {
	height: 100%;
	width: auto;
}

/*	SECTION [TESTIMONIALS]
	============ */

.section-testimonials {
	background: #223554;
	padding-bottom: 12rem;
}

.section-testimonials .section-title {
	margin-bottom: 2.5rem;
	color: #fff;
	font-size: 2.5rem;
	text-align: center;
}

.testimonials {
	position: relative;
}

.testimonials .slick-slide {
	margin: 0 1rem;
}

.testimonials .slick-list {
	margin: 0 -1rem;
}

.testimonials-block {
	display: flex;
	flex-direction: column;
	background: #fff;
	width: 100%;
	height: 500px;
	padding: 2rem;
}

.testimonials-author {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.testimonials-author-image {
	margin-right: 1rem;
}

.testimonials-author-image img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.testimonials-author-name {
	color: #1565C0;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.25;
}

.testimonials-author-meta {
	color: #9E9E9E;
	font-size: 1rem;
	font-weight: 400;
}

.testimonials-content {
	flex-grow: 1;
	color: #424242;
	font-size: 1.15rem;
	font-weight: 400;
}

.testimonials-logo {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: solid 1px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.testimonials-logo img {
	height: 60px;
	width: auto;
	margin: 0 auto;
}

.testimonials-slide-control {
	position: absolute;
	bottom: -7.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	color: #fff;
	border: solid 1px #fff;
	border-radius: 50%;
	font-size: 1.5rem;
	z-index: 1;
	transition: background 200ms ease, color 200ms ease;
}

.testimonials-slide-control:hover {
	background: #fff;
	color: #1E88E5;
}

.testimonials-slide-control-left {
	left: 0;
}

.testimonials-slide-control-right {
	right: 0;
}

.testimonials-slide-nav {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0;
	padding: 0;
	bottom: -6.5rem;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
}

.testimonials-slide-nav button {
	background: rgba(255, 255, 255, 0.5);
	width: 10px;
	height: 10px;
	padding: 0;
	border-radius: 50%;
	font-size: 0;
	display: inline-block;
	border: none;
	outline: none;
	transition: background 200ms ease;
}

.testimonials-slide-nav .slick-active button {
	background: rgba(255, 255, 255, 0.8);
}

/*	SECTION [SKILLSET]
	============ */

.section-skillset .section-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media (max-width: 767px) {
	.section-skillset .section-container {
		flex-direction: column;
		align-items: flex-start;
	}
}

.section-skillset .section-image {
	width: 50%;
	flex-shrink: 0;
}

@media (max-width: 767px) {
	.section-skillset .section-image {
		width: 100%;
	}
}

.section-skillset .section-image img {
	max-width: 100%;
	height: auto;
}

.section-skillset .section-content {
	max-width: 500px;
}

.section-skillset .section-title {
	margin-bottom: 2rem;
}

.section-skillset .section-description {
	margin-bottom: 2.5rem;
}

/*	SECTION [JOBS-SERVICES]
	============ */

.section-jobs-services .section-container {
	max-width: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 767px) {
	.section-jobs-services .section-container {
		grid-template-columns: 1fr;
	}
}

.section-jobs-services .section-part {
	padding: 4rem 0;
}

@media (max-width: 767px) {
	.section-jobs-services .section-part {
		padding: 2rem 0;
	}
}

.section-jobs-services .section-part:first-child {
	background: #E0F7FA;
}

.section-jobs-services .section-part:last-child {
	background: #FFF3E0;
}

.section-jobs-services .section-content {
	max-width: 500px;
	padding: 0 1.5rem;
}

@media (min-width: 768px) {
	.section-jobs-services .section-part:first-child .section-content {
		margin-left: auto;
	}
	.section-jobs-services .section-part:last-child .section-content {
		margin-right: auto;
	}
}

.section-jobs-services .section-title {
	font-size: 1.85rem;
	line-height: 1.25;
	margin-bottom: 2rem;
}

/*	FOOTER
	============ */

.footer {
	background: #1565C0;

}

.footer-container {
	width: 100%;
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 1.5rem;
}

.footer-section-contact {
	display: flex;
	padding: 4rem 0;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.25rem;
	font-weight: 400;
}

@media (max-width: 767px) {
	.footer-section-contact {
		font-size: 1.1rem;
	}
}

.footer-section-contact p:not(:last-child) {
	margin-bottom: 0.75rem;
}

.footer-section-contact a {
	color: rgba(255, 255, 255, 0.95);
}

.footer-contact-image {
	margin-left: auto;
}

@media (max-width: 767px) {
	.footer-contact-image {
		display: none;
	}
}

.footer-contact-image img {
	width: 175px;
	height: auto;
}

.footer-section-offices {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1rem;
	font-weight: 400;
	border-bottom: solid 1px rgba(255, 255, 255, 0.25);
	padding-bottom: 2rem;
}

@media (max-width: 767px) {
	.footer-section-offices {
		grid-template-columns: 1fr;
	}
}

.footer-section-info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 0;
}

@media (max-width: 767px) {
	.footer-section-info {
		flex-direction: column;
		align-items: flex-start;
	}
}

.footer-copyright {
	margin-right: 2rem;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1rem;
	font-weight: 400;
}

.footer-links {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 767px) {
	.footer-links {
		flex-direction: column;
		margin-top: 1rem;
		gap: 0.5rem;
	}
}

.footer-link {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1rem;
	font-weight: 400;
}

.footer-socials {
	display: flex;
	align-items: center;
	margin-left: auto;
}

@media (max-width: 991px) {
	.footer-socials {
		margin-top: 1rem;
		margin-left: 0;
		flex-basis: 100%;
	}
}

.footer-socials-label {
	margin-right: 1rem;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1rem;
	font-weight: 400;
}

.footer-socials-links {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-socials-link {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.75rem;
	transition: color 200ms ease;
}

.footer-socials-link:hover {
	color: rgba(255, 255, 255, 0.9);
}

/*	BUTTON
	============ */

.button {
	position: relative;
	display: inline-block;
	padding: 0.6rem 1.5rem;
	background: #fff;
	color: #1565C0;
	font: inherit;
	font-size: 1.05rem;
	font-weight: 500;
	border-radius: 99px;
	transition: color 200ms ease;
	isolation: isolate;
	overflow: hidden;
}

.button::before {
	content: '';
	position: absolute;
	background: #1565C0;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	z-index: -1;
	transition: width 600ms cubic-bezier(0.22, 1, 0.36, 1);
}

.button:hover {
	color: #fff;
}

.button:hover::before {
	width: 100%;
}

.button i {
	margin-left: 0.4rem;
	margin-right: -0.25rem;
	font-size: 0.8em;
}

/*	BUTTON [PRIMARY]
	============ */

.button-primary {
	background: #1E88E5;
	color: #fff;
}

.button-primary::before {
	background: #1565C0;
}

/*	BUTTON [OUTLINE]
	============ */

.button-outline {
	border: solid 1px rgba(0, 0, 0, 0.15);
}

/*	BUTTON [APPLY]
	============ */

.button-apply {
	background: #00ACC1;
	color: #fff;
}

.button-apply::before {
	background: #00838F;
}

/*	BUTTON [HIRE]
	============ */

.button-hire {
	background: #FF5722;
	color: #fff;
}

.button-hire::before {
	background: #D84315;
}

/*	TYPOGRAPHY
	============ */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	margin: 0;
	color: inherit;
	font: inherit;
	text-decoration: none;
}

/*	SCROLLBAR
	============ */

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: #1E88E5;
	border: solid 2px #fff;
	border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
	background: #1565C0;
}